<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{%static 'register.css'%}" type="text/css" media="screen" />
    <title>Teacher Registration</title>
  </head>
  {% if messages %}
{% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">Close</button>
  {% endfor %}
</div>
{% endif %}
  <body>
    <div class="container">
      <div class="card">
        <div class="innerbox" id="card">
          <div class="card22">
            <h2>REGISTRATION</h2>
            <form method="post" action="faculty_register">
              {% csrf_token %}
              <input
                type="text"
                class="input-box"
                name="name"
                placeholder="Enter your name"
                required
              />
              <input
                type="text"
                class="input-box"
                name="staffcode"
                placeholder="Enter your Staff Code"
                required
              />
              <input
                type="email"
                class="input-box"
                name="email"
                placeholder="Enter your email"
                required
              />
              <input
                type="password"
                class="input-box"
                name="password"
                placeholder="Enter your password"
                required
              />
              <button type="submit" class="submit-btn">submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>