<form hx-post="{% url 'subject-details' dept sem %}" hx-target="#subject-details">
    {% spaceless %}
    {% csrf_token %}
            <input type="text" name="old_sub_code" value={{data.sub_code}} hidden>
            <input type="text" name="sub_name" value="{{data.sub_name}}"
            placeholder="Enter the subject name : " required>
            <input type="text" name="sub_code" value={{data.sub_code}}
            placeholder="Enter the subject code : " required>
            <input name="update"  class="btn btn-primary" type="submit"/>
            <a href="/admin/subjects/{{dept}}/{{sem}}">
                     Cancel
            </a>
            {% endspaceless %}
</form>