<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
      <meta charset=" utf-8">
    <title> Login Forum </title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{%static 'login.css'%}" type="text/css" media="screen" > {% endcomment %}
  </head>
  
  <body>
    <a href="/admin/subjects/{{dept}}/1" class="addk" >Sem 1</a><br>
    <a href="/admin/subjects/{{dept}}/2" class="addk" >Sem 2</a><br>
    <a href="/admin/subjects/{{dept}}/3" class="addk" >Sem 3</a><br>
    <a href="/admin/subjects/{{dept}}/4" class="addk">Sem 4</a><br>
    <a href="/admin/subjects/{{dept}}/5" class="addk">Sem 5</a><br>
    <a href="/admin/subjects/{{dept}}/6" class="addk" >Sem 6</a><br>
    <a href="/admin/subjects/{{dept}}/7" class="addk">Sem 7</a><br>
    <a href="/admin/subjects/{{dept}}/8" class="addk">Sem 8</a><br>
</body>
</html>