<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
      <meta charset=" utf-8">
    <title> Login Forum </title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{%static 'login.css'%}" type="text/css" media="screen" > {% endcomment %}
  </head>
  
  <body>
    <a href="/admin/subjects/aero" class="addk" >Aeronautical Engineering</a><br>
    <a href="/admin/subjects/aiml" class="addk" >Artificial Intelligence and Machine Learning</a><br>
    <a href="/admin/subjects/auto" class="addk" >Automobile Engineering</a><br>
    <a href="/admin/subjects/biomedical" class="addk">Biomedical Engineering</a><br>
    <a href="/admin/subjects/biotechnology" class="addk">Biotechnology</a><br>
    <a href="/admin/subjects/chem" class="addk" >Chemical Engineering</a><br>
    <a href="/admin/subjects/civil" class="addk">Civil Engineering</a><br>
    <a href="/admin/subjects/csd" class="addk">Computer Science and Design</a><br>
    <a href="/admin/subjects/cse" class="addk" >Computer Science and Engineering</a><br>
    <a href="/admin/subjects/csbs" class="addk">Computer Science and Business System</a><br>
    <a href="/admin/subjects/eee" class="addk">Electrical and Electronics Engineering</a><br>
    <a href="/admin/subjects/ece" class="addk" >Electronics and Communication Engineering</a><br>
    <a href="/admin/subjects/ft" class="addk">Food Technology</a><br>
    <a href="/admin/subjects/it" class="addk">Information Technology</a><br>
    <a href="/admin/subjects/mech" class="addk" >Mechanical Engineering</a><br>
    <a href="/admin/subjects/mecha" class="addk">Mechatronics</a><br>
    <a href="/admin/subjects/robo" class="addk">Robotics and Automation</a><br>
</body>
</html>